body {
    background-color: #111;
}

.container {
    padding: 1em;
    column-count: 4;
}

img {
    width: 100%;
    margin-bottom: 1em;
}

@media (max-width: 800px) {
    .container {
        column-count: 3;
    }
}

@media (max-width: 600px) {
    .container {
        column-count: 2;
    }
}

@media (max-width: 400px) {
    .container {
        column-count: 1;
    }
}